{% extends 'layout/base.html' %}

{% block content %}
<h1 style="font-weight:600;color: green;" class="text-center">CHI TIẾT SẢN PHẨM</h1>


<div class="row">
    <div class="col-md-4 col-sm-6">
        <img style="width:100%;padding-left: 150px;" src="{{ product.image }}" class="img-fluid" alt="{{ product.name }}" />
    </div>
    <div class="col-md-8 col-sm-6" style="padding-top:40px;">
        <h1 style="font-weight: 550;">{{ product.name }}</h1>
        <p style="font-size: 30px;font-weight:600;">{{ product.description|safe }}</p>
        <h3 style="color: orange; font-weight: 550;">{{ "{:,.1f}".format(product.price) }} VNĐ</h3>

        {% for t in product.tags %}
        <span class="badge bg-success">{{ t.name }}</span>
        {% endfor %}
    </div>
</div>

<hr>

{% if current_user.is_authenticated %}
<div>
    <div class="form-group">
        <textarea class="form-control" id="comment-content" placeholder="Nội dung bình luận..."></textarea>
    </div>
    <div class="mt-1">
        <input type="button" onclick="addComment({{ product.id }})" value="Thêm bình luận" class="btn btn-info" />
    </div>
</div>
{% else %}
<p style="font-size:30px;">Vui lòng <a style="text-decoration:none;" href="/login?next=/products/{{ product.id }}">đăng nhập</a> để bình luận!</p>
{% endif %}
<div class="spinner-grow text-primary spinner"></div>

<ul class="list-group mt-2" id="comments">

</ul>

{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/details.js') }}"></script>
<script>
    window.onload = () => {
        loadComments({{ product.id }});
    }
</script>
{% endblock %}