<head>
    <link href="{{ url_for('static', filename='css/footer.css') }}" rel="stylesheet"/>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>SUPPORT</h4>
                <ul>
                    <li><a href="#"></a>Shoppee</li>
                    <li><a href="#"></a>Fahasa</li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>INFORMATION</h4>
                <ul>
                    <li><a href="#"></a>Tiki</li>
                    <li><a href="#"></a>Lazada</li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>CAR</h4>
                <ul>
                    <li><a href="#"></a>Grap</li>
                    <li><a href="#"></a>Uber</li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Follow us</h4>
                <div clas="social-links">
                    <a href="https://www.facebook.com/vinh.maixuan.9" target="_blank" class="fa fa-facebook"></a>
                    <a href="https://www.youtube.com/@duonghuuthanh" target="_blank" class="fa fa-youtube"></a>
                </div>
            </div>

        </div>
</footer>
</body>