{% extends 'admin/master.html' %}

{% block body %}
<h1 class="text-center text-danger">THỐNG KÊ BÁO CÁO</h1>

<div class="row">
    <div class="col-md-5 col-sm-12">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Thể loại sách</th>
                 <th>Doanh thu</th>
                <th>Tháng</th>

            </tr>
            {% for s in Doanhthu %}
            <tr>
                <td>{{ s[0] }}</td>
                <td>{{ s[1] }}</td>

                <td>
                    {% if s[2]%}
                    {{ "{:,.3f}".format(s[2]) }} VNĐ
                    {% else %}
                    0 VND
                    {% endif%}
                </td>
                   <td>{{ s[3] }}</td>
            </tr>
            {% endfor %}
        </table>

    </div>

    <div class="col-md-7 col-sm-12">
        <form>
            <div class="form-group">
                <input type="text" placeholder="Nhập từ khóa..." class="form-control" name="kw"/>
            </div>
            <div class="form-group">
                <label>Từ ngày</label>
                <input type="date" class="form-control" name="from_date"/>
            </div>
            <div class="form-group">
                <label>Đến ngày</label>
                <input type="date" class="form-control" name="to_date"/>
            </div>
            <div>
                <input type="submit" value="Lọc dữ liệu" class="btn btn-info"/>
            </div>
        </form>
    </div>
    <canvas id="cateChart"></canvas>
</div>
<div class=row>
    <div class="col-md-5 col-sm-12">
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Tên sản phẩm</th>
                <th>Thể loại</th>
                <th>Số lượng</th>
                <th>Tỉ lệ</th>
                <th>Tháng</th>
            </tr>
            {% for s in Tansuat %}
            <tr>
                <td>{{ s[0] }}</td>
                <td>{{ s[1] }}</td>
                <td>{{ s[2] }}</td>
                <td>{{ s[3] }}</td>
                <td>
                    {% if s[4]%}
                    {{ "{:,.3f}".format(s[4])}}%
                    {% else %}
                    0 VND
                    {% endif%}
                </td>
                <td>{{ s[5] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <canvas id="monthChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/my-chart.js') }}"></script>
<script>
    let labels = [],labels2 = []
    let data = [],data2 = []
    let colors = [],colors2 = []
    let borderColors = [],borderColors2 = []
    let r,g,b;

    {% for s in Doanhthu %}
    {% if s[2] %}
    labels.push('{{ s[1] }}')
    data.push({{ s[2] }})

    r = parseInt(Math.random() * 255)
    g = parseInt(Math.random() * 255)
    b = parseInt(Math.random() * 255)
    colors.push(`rgba(${r}, ${g}, ${b}, 0.2)`)
    borderColors.push(`rgba(${r}, ${g}, ${b}, 1)`)
    {% endif %}
    {% endfor %}


    {% for s in Tansuat %}
    {% if s[4] %}
    labels2.push('{{ s[1] }}')
    data2.push({{ s[4] }})

    r = parseInt(Math.random() * 255)
    g = parseInt(Math.random() * 255)
    b = parseInt(Math.random() * 255)
    colors2.push(`rgba(${r}, ${g}, ${b}, 0.2)`)
    borderColors2.push(`rgba(${r}, ${g}, ${b}, 1)`)
    {% endif %}
    {% endfor %}

    window.onload = function() {
        const ctx = document.getElementById('cateChart').getContext('2d')
        loadChart(ctx,labels, data, 'bar', colors, borderColors)

        const ctx2 = document.getElementById('monthChart').getContext('2d')
        loadChart(ctx2,labels2, data2, 'bar', colors2, borderColors2)
    }

function loadChart(ctx,labels, data, type, colors, borderColors){
    const myChart = new Chart(ctx,{
        type: type,
        data:{
            labels: labels,
            datasets: [{
                label: 'Thống kê báo cáo',
                data: data,
                backgroundColor: colors,
                borderColor: borderColors,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
}







</script>


{% endblock %}